/*
  Color Palette
  #CD5D67 - red
  #6EA4BF - blue
  #C2EFEB - green
  #ECFEE8 - light yellow-green
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article, section, time {
  display: block;
}

body {
  font-family: sans-serif;
  color: #404040;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-size: 16px;
}

.article {
  margin: 30px;
  font-size: 16px;
}

.page h1,
.article h1 {
  font-size: 20px;
}

.article p {
  margin-top: 1em;
  line-height: 1.3em;
}

.project-research-item {
  margin-bottom: 50px;
}

.project-research-item a:link,
.project-research-item a:visited,
.project-research-item a:hover,
.project-research-item a:visited:hover {
  text-decoration: none;
  color: #404040;
}

.project-research-item a:active,
.project-research-item a:visited:active {
  color: #888888;
}

.article a:link,
.article a:visited {
  text-decoration: none;
  color: #5E94AF;
}

.article a:hover,
.article a:visited:hover {
  color: #8EC4DF;
  text-decoration: underline;
}

.article a:active,
.article a:visited:active {
  color: #4E849F;
}

.project-research-item time,
.project-research-item .tag,
.article time {
  margin-top: 5px;
  color: #777777;
}


@media only screen and (min-width: 401px) {

}


@media only screen and (min-width: 961px) {
  .page {
    width: 930px;
    margin: 30px auto;
    padding: 30px;
  }

  .article {
    width: 930px;
    margin: 30px auto;
    padding: 30px;
  }



}
